*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* .bg-light{
    background-color: transparent !important;
} */
.hero-banner{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(https://images.pexels.com/photos/40799/paper-colorful-color-loose-40799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* https://images.pexels.com/photos/424154/pexels-photo-424154.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 */
}
.hero{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: rgba(0, 22, 40, .2); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.hero p{
    border: 1px solid white;
    padding: 10px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.hero p:hover{
    background-color: white;
    color: crimson;
    border: 1px solid crimson;
}

.contenedor-grid{
    margin:30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
    gap: 15px;
}
.contenedor-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
}
.contenedor-grid img:last-child{
    grid-column-start: span 2;
    grid-row-end: span 1;
}

.contenedor-grid img:hover {
    transform:scale(1.3);
    transform:scale(1.3);
}

.centro{
    display: flex;
    margin: 50px;
    /* border: 1px solid black; */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
}

.izquierda{
    width: 50%;
    height: 100vh;
    border-radius: 10px 0 0 10px;
}
.derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.derecha h2{
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
.derecha h3{
    margin-bottom: 15px;
}
.derecha p{
    text-align: justify;
    margin: 30px;
}
.galeria{
    margin: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 59px -24px rgba(0,0,0,0.54);
}

.final-footer{
    background-color: rgba(20, 220, 187, 0.808);
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.seccion1{
    text-align: center;
    margin: 20px;
}
.seccion1 img{
    width: 20px;
    height: auto;
}
.footer-texto{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.seccion2{
    text-align: center;
}
.seccion2 img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* media */
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .contenedor-grid{
        margin:30px;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 20px;
        gap: 15px;
    }
    .contenedor-grid img:last-child{
        grid-column-start: span 1;
        grid-row-end: span 1;
    }
    .centro{
        display: flex;
        flex-direction: column;
    }
    .centro img{
        width: 100%;
        height: 100vh;
        border-radius: 10px 0 0 10px;
    }

}
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .contenedor-grid{
        margin:30px;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 20px;
        gap: 15px;
    }
    .contenedor-grid img:last-child{
        grid-column-start: span 1;
        grid-row-end: span 1;
    }
    .centro{
        display: flex;
        flex-direction: column;
    } 
    .centro img{
        width: 100%;
        height: 100vh;
        border-radius: 10px 0 0 10px;
    }
}
@media all and (min-width: 480px) and (max-width: 768px) { 
    .contenedor-grid{
        margin:30px;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 20px;
        gap: 15px;
    }
    .contenedor-grid img:last-child{
        grid-column-start: span 1;
        grid-row-end: span 1;
    }
    .centro{
        display: flex;
        flex-direction: column;
    }
    .centro img{
        width: 100%;
        height: 100vh;
        border-radius: 10px 0 0 10px;
    }
}
 
@media all and (max-width: 480px) {
    .contenedor-grid{
        margin:30px;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 20px;
        gap: 15px;
    }
    .contenedor-grid img:last-child{
        grid-column-start: span 1;
        grid-row-end: span 1;
    }
    .centro{
        display: flex;
        flex-direction: column;
    }
    .centro img{
        width: 100%;
        height: 100vh;
        border-radius: 10px 0 0 10px;
    }
 }